POSTGRES_USER="user"
POSTGRES_PASSWORD="pass123"
POSTGRES_DB="shwitter"
DB_PORT=5432
HOST=db
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${HOST}:${DB_PORT}/${POSTGRES_DB}"
APP_SECRET="random_secret"

