@import url('./fonts/stylesheet.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  height: 100%l;
}
@layer base {
  .input {
    border-radius: 20px;
    outline: none;
    border: 2px solid rgb(0, 0, 0, 0.2);
    text-align: center;
    padding: .25rem;
  }

  textarea, input {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none; /*remove the resize handle on the bottom right*/
  }
  textarea:focus, input:focus{
    outline: none;
  }
}

